body, button, input, select, textarea {
	font-size: 14px;
	font-family: Arial;
	color: #333;
}
body{
	background: #fff;
	margin-top: 45px;
}
p{
	margin: 14px 0;
	line-height: 160%;
}
form p{
	margin: 0;
}
h1{
	font-size: 170%;
	margin: 18px 0;
}
h2{
	font-size: 150%;
	margin: 14px 0;
}
h3{
	font-size: 130%;
}
h4{
	font-size: 100%;
}
img{
	max-width: 100%;
}

.navbar{
	min-height: 40px;
}
.navbar-header{
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
.navbar-brand{
	margin: 0 !important;
	padding: 10px 10px 0 4px;
	height: 40px;
}
.navbar-nav{
	margin: 0;
	padding: 0;
}
.navbar-nav > li{
	float: left;
}
.navbar-nav > li > a{
	margin: 0;
	padding: 10px;
	height: 40px;
}
.footer{
	color: #999;
	font-size: 90%;
	text-align: center;
	padding: 15px 0;
}

.container{
	width: 100%;
}


.table{
	margin-top: 10px !important;
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
}
.table th{
	padding: 4px !important;
	background: #cef !important;
	border-bottom: none !important;
}
.table td{
	padding: 5px 4px !important;
	border-top: 1px solid #ddd !important;
	border: none !important;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f6f6f6 !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #ffc !important;
}
/************* PagerView **************/
.PagerView{
	font-size: 12px;
	font-family: tahoma, arial;
	color: #333;
	text-align: center;
	padding: 8px;
	line-height: 100%;
}
.PagerView span{
	color: #999;
	margin: 0 1px;
	padding: 3px 6px;
	border: 1px solid #ccc;
}
.PagerView span.on{
	color: #fff;
	font-weight: bold;
	border: 1px solid #666;
	background: #39f;
}
.PagerView a{
	color: #00f;
	text-decoration: none;
}
.PagerView a span{
	color: #33f;
	border: 1px solid #66c;
}
